:root {
  --background: 250 250 250;
  --foreground: 9 9 11;
  --secondary: 228 228 231;
  --muted: 113 113 122;
}

.dark {
  --border: 39 39 42;
  --background: 9 9 11;
  --foreground: 250 250 250;
  --secondary: 39 39 42;
  --muted: 113 113 122;
}

* {
  border-color: rgb(var(--secondary));
  outline-color: rgb(var(--secondary));
}

/* common */
.bg-background {
  background-color: rgb(var(--background));
}

.text-foreground {
  color: rgb(var(--foreground));
}

.outline-foreground,
.focus\:outline-foreground:focus {
  outline-color: rgb(var(--foreground));
}

/* primary - reverse common */
.bg-primary,
.hover\:bg-primary:hover {
  background-color: rgb(var(--foreground));
}

.text-primary,
.hover\:text-primary:hover {
  color: rgb(var(--background));
}

.border-primary {
  border-color: rgb(var(--foreground));
}

.outline-primary {
  outline-color: rgb(var(--foreground));
}

/* secondary - near common */
.bg-secondary,
.hover\:bg-secondary:hover {
  background-color: rgb(var(--secondary));
}

.outline-secondary {
  outline-color: rgb(var(--secondary));
}

/* middle */
.text-muted {
  color: rgb(var(--muted));
}

.bg-muted,
.hover\:bg-muted:hover {
  background-color: rgb(var(--muted));
}
