:root {
	--black: 24 24 24;
	--white: 245 245 245;
	--pureblack: 0 0 0;
	--purewhite: 255 255 255;
	--primary-50: 229 243 255;
	--primary-100: 203 231 255;
	--primary-200: 152 206 254;
	--primary-300: 104 182 251;
	--primary-400: 60 158 243;
	--primary-500: 26 133 226;
	--primary-600: 32 105 169;
	--primary-700: 34 78 116;
	--primary-800: 31 51 69;
	--primary-900: 20 25 30;
	--primary-950: 11 13 14;
	--secondary-50: 253 253 253;
	--secondary-100: 245 245 245;
	--secondary-200: 229 229 229;
	--secondary-300: 201 201 201;
	--secondary-400: 167 167 167;
	--secondary-500: 130 130 130;
	--secondary-600: 104 104 104;
	--secondary-700: 79 79 79;
	--secondary-800: 53 53 53;
	--secondary-900: 24 24 24;
	--secondary-950: 13 13 13;
	--success-50: 216 254 236;
	--success-100: 179 253 218;
	--success-200: 114 246 184;
	--success-300: 60 234 153;
	--success-400: 33 201 123;
	--success-500: 34 146 94;
	--success-600: 32 100 68;
	--success-700: 27 63 46;
	--success-800: 19 35 28;
	--success-900: 10 14 12;
	--success-950: 5 6 6;
	--danger-50: 255 236 241;
	--danger-100: 255 217 226;
	--danger-200: 255 176 195;
	--danger-300: 255 132 162;
	--danger-400: 254 86 128;
	--danger-500: 244 46 96;
	--danger-600: 212 26 72;
	--danger-700: 149 33 62;
	--danger-800: 91 34 48;
	--danger-900: 40 24 28;
	--danger-950: 18 14 15;
	--warning-50: 255 241 217;
	--warning-100: 255 228 181;
	--warning-200: 255 203 113;
	--warning-300: 251 178 53;
	--warning-400: 233 152 12;
	--warning-500: 174 117 18;
	--warning-600: 122 85 21;
	--warning-700: 78 57 22;
	--warning-800: 43 34 18;
	--warning-900: 17 15 11;
	--warning-950: 7 7 6;
	--info-50: 249 247 255;
	--info-100: 242 238 255;
	--info-200: 224 213 255;
	--info-300: 199 181 255;
	--info-400: 170 143 253;
	--info-500: 139 103 246;
	--info-600: 105 64 230;
	--info-700: 80 43 188;
	--info-800: 63 45 117;
	--info-900: 37 32 53;
	--info-950: 20 19 24;
}